#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name=Flip Tiles
GenericName=Reversi/othello game
Exec=fliptiles
Icon=fliptiles
Categories=Games;
